<footer class="footer container-fluid d-flex justify-content-center">
    <h6 class="footer-text">Al hacer click en "Continuar" acepte los <a class="footer-link" href="">Términos y condiciones</a> de Assist Card.</h6>
</footer>