<header class="header container-fluid">
    <div class="nav-bar d-flex justify-content-between">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
          <svg class="logo" width="55" height="55" role="img" aria-label="Assist-Card-logo"><use xlink:href="#logo-ac"/></svg>
        </a>
      <div class="account d-flex align-items-center">
        <h5 class="ask-account d-flex">¿Ya tiene una cuenta?</h5>
        <button type="button" class="session btn">INICIAR SESIÓN</button>
      </div>
    </div>
</header>

